* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(16, 57, 73);
}

header {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, red, yellow);
  margin-bottom: 30px;


}

header p {
  font-size: 50px;
  text-align: center;

  margin: 50px 100px;
}


form {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

input,
button {
  display: inline-block;
  height: 40px;
  flex-grow: 1;
  margin-right: 20px;
  flex-wrap: wrap;


}

.meme {

  position: relative;
  text-align: center;

  width: 400px;
  height: 350px;

  word-break: break-all;
  background-color: black;
}

.meme img {
  width: 400px;
  height: 350px;

}

.topText {
  position: absolute;
  top: 8px;

  word-wrap: wrap;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 8px white;


}

.bottomText {
  position: absolute;
  bottom: 8px;

  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 4px 4px 8px white;
}

.downloadBtn {
  margin: 25px;
  background-color: #4CAF50;
}